<!DOCTYPE html>
<html>
  <head>
    <title>Natours Technical Notification: <%= type %></title>
  </head>
  <body>
    <ul>
      <li><strong>Notification Type:</strong> <%= type %></li>
      <li><strong>Date and Time:</strong> <%= date %></li>

      <li><strong>Error Message:</strong> <%= message %></li>

      <li><strong>Affected Component:</strong> <%= component.name %> | <%= component.file %></li>
    </ul>

    <p><%= description %></p>

    <div>
      <p><strong>Error:</strong></p>
      <p><%= error %></p>
    </div>

    <p>
      This notification is essential for the continued functionality and improvement of Natours. We
      kindly request your prompt attention and action to address this issue.
    </p>

    <p>Thank You</p>
    <p>Natours</p>
  </body>
</html>
